

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
.fotofran  { 
	padding: 10px; 
	margin: 10px; 
	border: 2px ; 
	float: right; 
	width: 160px; 
	height: auto;
	border-radius: 30%;
	
	
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between ;
	background-color: #262626;
	color: #fff;
	padding: 1px;
	height: 200px;
}

.title-header {
	margin-left: 20px;
}


h1, h2 {
	margin: 0;
    margin: 20px 0;
}

section {
	margin: 20px 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 10px;
}

p {
	margin: 0;
    font-size: medium;
}

main {
	max-width: 800px;
	margin: 20px;
	padding: 20px;
}

.site-footer {
	background-color: #f5f5f5;
	color: #333;
	padding: 20px;
	text-align: center;
	font-size: 14px;
  }

 .text-footer {
	text-align: center;
	font-family: 'Roboto', sans-serif;
 } 